#c-brand{
    background-color: green;
    font-size: 20px;
    color: white;
    
}

.navbar-default .navbar-brand {
 
    color: white;
    background-color: lightseagreen;
   
  }

  #c-header{
      color: lightseagreen;
  }